.page {
    background-color: lightgray;
  }
  .pageOptions {
    scroll-behavior: smooth;
  }
  .titleBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Times New Roman;
    font-size: 210%;
    text-align: center;
    justify-content: flex-end;
    color: goldenrod;
    background-color: rgb(43, 43, 43);
    text-shadow: 3px 3px black;
    padding-top: 10%;
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    flex-direction: column;
  }
  .smallTitle {
    text-align: center;
    position: relative;
    top: -60%;
    font-style: italic;
  }
  .titleLine {
    width: 100%;
    height: 3%;
    border-style: none;
    background-color: goldenrod;
    z-index: 1;
    position: absolute;
    top: 95%;
    left: 0%;
  }
  .navBar {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 4px 4px 6px rgb(33, 33, 33);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 7;
    align-items: center;
    color: goldenrod;
    text-shadow: 2px 2px black;
    text-wrap: nowrap;
    font-size: 50%;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .navHolder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 80%;
    font-size: 200%;
    color: white;
    text-wrap: nowrap;
  }
  .navItem {
    width: fit-content;
  }
  .navItem:link {
    color: white;
    text-decoration: none;
  }
  .navItem:visited {
    color: white;
  }
  .navItem:hover {
    color: gold;
  }
  .navItem:active {
    color: darkgoldenrod;
  }
  
  #aboutMeBox {
    display: flex;
    width: 80%;
    height: fit-content;
    margin-bottom: 10%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px gray;
    flex-wrap: nowrap;
  }
  .aboutMe {
    text-align: center;
    font-size: 240%;
    text-shadow: 2px 2px goldenrod;
  }
  
  .aboutDivider {
    width: 70%;
    height: 2px;
    background-color: goldenrod;
    border-style: none;
  }
  
  .aboutDesc {
    font-size: 120%;
    padding: 5%;
    position: relative;
    top: 0%;
    left: 0%;
  }
  
  #darkButton {
    color: white;
    font-family: "Times New Roman";
    background-color: rgb(33, 33, 33);
    width: 45px;
    height: 45px;
    border-radius: 12px;
    border-style: none;
    box-shadow: 0px 0px 3px black;
    position: fixed;
    top: 1%;
    left: 95%;
    z-index: 8;
  }
  
  #darkButton:hover {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
  }
  
  .superPageHolder {
    position: absolute;
    top: 90%;
    left: 5%;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .rightPageHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .leftPageHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 46%;
    height: 100%;
  }
  
  .linkButtonBox {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    width: 38%;
    height: 35%;
    border-style: none;
    border-radius: 12px;
    background-color: white;
    padding: 5%;
    color: black;
    text-shadow: 2px 2px goldenrod;
    text-align: center;
    font-size: 130%;
    flex-wrap: nowrap;
    box-shadow: 0px 0px 8px gray;
    margin-bottom: 10%;
  }
  
  .projectsButton {
    width: fit-content;
    height: 100%;
    padding: 4%;
    border-radius: 12px;
    background-color: goldenrod;
    border-color: darkgoldenrod;
    color: black;
    border-style: solid;
    font-family: Times New Roman;
    font-size: 80%;
    text-wrap: wrap;
  }
  .projectsButton:hover {
    background-color: gold;
    border-color: goldenrod;
    color: black;
    cursor: pointer;
  }
  .projectsButton:active {
    cursor: progress;
  }
  
  .flexItem1 {
    position: relative;
    top: 2%;
  }
  .flexItem2 {
    position: relative;
    top: 20%;
  }
  
  /* skills box and icons */
  #skillsBox {
    display: flex;
    flex-direction: column;
    width: 218%;
    height: 75%;
    background-color: white;
    border-style: none;
    border-radius: 12px;
    font-family: Times New Roman;
    font-size: 140%;
    color: black;
    text-shadow: 2px 2px goldenrod;
    text-align: center;
    box-shadow: 0px 0px 8px gray;
  }
  
  #iconHolder {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    width: 100%;
    height: fit-content;
    border-style: none;
    border-radius: 12px;
    justify-content: space-evenly;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
  }
  .icon {
    width: 45px;
    height: 45px;
  }
  .iconText {
    color: black;
    text-shadow: none;
    font-size: 65%;
    width: 60px;
    height: 18px;
  }
  /* bottom page nav bar */
  .bottomBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 111%;
    height: 8%;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px -4px 4px 6px rgb(54, 54, 54);
    text-shadow: 2px 2px black;
    font-size: 12pt;
    position: absolute;
    top: 110%;
    left: -6%;
  }
  /* for use with projects page */
  .projectPageHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: fit-content;
    min-height: 50%;
    background-color: rgb(43, 43, 43);
  }
  .projects {
    display: flex;
    width: 80%;
    height: fit-content;
  
    flex-direction: column;
    padding: 9.5%;
    justify-content: center space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align-last: center;
    align-content: space-evenly;
    column-gap: 6%;
    background-color: white;
    border-radius: 12px;
  }
  
  .projectTitle {
    text-align: center;
    font-size: 240%;
    text-shadow: 2px 2px goldenrod;
  }
  .projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    color: black;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 0px 0px 8px gray;
    width: 80%;
    height: fit-content;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  
  .projectsPage {
    background-color: gray;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .desc {
    width: 80%;
    height: fit-content;
  }
  
  .projectImage {
    height: 180px;
    width: 270px;
    border-width: 4px;
    border-style: inset;
    border-color: goldenrod;
  }
  
  .desc {
    margin: 5%;
  }
  
  .LinkButton {
    height: 45px;
    width: 225px;
    background-color: goldenrod;
    border-color: darkgoldenrod;
    border-style: solid;
    border-radius: 12px;
    font-size: 78%;
  }
  .LinkButton:hover {
    background-color: gold;
  }
  
  .linkButton:active {
    cursor: progress;
  }
  
  .miniPageHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    background-color: rgb(216, 214, 214);
  }
  