/* General */

:root {
  /* main colors */
  --primary-gold: rgb(235, 172, 13);
  --secondary-gold: rgb(255, 194, 39);
  --tertiary-gold: rgb(181, 132, 9);
  /* black colors / shadows */
  --primary-black: rgb(0, 0, 0);
  --secondary-black: rgb(43, 43, 43);
  --tertiary-black: rgb(35, 35, 35);
  --quaternary-black: rgb(25, 25, 25);
  /* white colors */
  --primary-white: rgb(255, 255, 255);
  --secondary-white: rgb(225, 223, 223);
  --tertiary-white: rgb(175, 175, 175);
}

p {
  text-shadow: none;
}

body {
  background-color: var(--secondary-white);
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar */
.navBar {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: var(--secondary-black);
  box-shadow: 0px 4px 4px 6px var(--tertiary-black);
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 7;
  align-items: center;
  color: var(--primary-gold);
  text-shadow: 2px 2px var(--primary-black);
  text-wrap: nowrap;
  font-size: 50%;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 2%;
  padding-right: 2%;
}

.navHolder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 80%;
  font-size: 200%;
  color: var(--primary-white);
  text-wrap: nowrap;
}

.unique,
.unique:link,
.unique:visited,
.unique:active {
  color: var(--primary-gold) !important;
  cursor: default;
}

.navButton {
  width: fit-content;
  font-size: 14pt;
}
.navButton:link {
  color: var(--primary-white);
  text-decoration: none;
}
.navButton:visited {
  color: var(--primary-white);
}
.navButton:hover {
  color: var(--secondary-gold);
}
.navButton:active {
  color: var(--primary-gold);
}

/* Fade-In Animation */
.fadeIn {
  opacity: 0; /* Start with hidden visibility */
  animation: fadeInAnimation 1.5s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Title Box */
.titleBox {
  display: flex;
  flex-direction: column;
  font-family: Times New Roman;
  font-size: 200%;
  text-align: center;
  justify-content: center;
  border-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-gold);
  color: var(--primary-gold);
  background-color: var(--quaternary-black);
  text-shadow: 3px 3px var(--primary-black);
  padding-top: 10%;
  width: 100%;
  height: 40%;
  min-height: 300px;
  position: absolute;
  z-index: 4;
  top: 0%;
  left: 0%;
}

/* Flash Animation */
.flash {
  opacity: 0;
  text-shadow: 0 0 10px transparent, 0 0 20px transparent, 0 0 30px transparent;
  animation: flashAnimation 1.5s forwards;
}

@keyframes flashAnimation {
  0% {
    opacity: 0;
    text-shadow: 0 0 10px transparent, 0 0 20px transparent,
      0 0 30px transparent;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    color: #fff;
  }
  100% {
    opacity: 1;
    text-shadow: 3px 3px black;
    color: var(--primary-gold);
  }
}

.f {
  opacity: 0;
}

.top {
  position: relative;
  top: 10%;
  left: 0%;
}
.bottom {
  position: relative;
  top: -10%;
  left: 0%;
}

/* Page Holder */
.pageHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 75%;
  left: 0%;
}

/* About Me Box */
.aboutMeBox {
  display: flex;
  width: 80%;
  height: fit-content;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primary-white);
  color: var(--primary-black);
  text-shadow: 2px 2px var(--primary-gold);
  font-family: "Times New Roman";
  font-size: 15pt;
  border-radius: 10px;
  box-shadow: 0px 0px 8px var(--tertiary-white);
  flex-wrap: nowrap;
  z-index: 3;
}

.divider {
  width: 70%;
  height: 2px;
  background-color: var(--primary-gold);
  border-style: none;
}

/* Projects/Resume */

#box1,
#box2,
#box3,
#box4 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  height: fit-content;
  z-index: 2;
}

.linkButtonBox {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  width: 35%;
  height: 35%;
  min-height: 200px;
  border-style: none;
  border-radius: 12px;
  background-color: var(--primary-white);
  padding: 5%;
  color: var(--primary-black);
  text-shadow: 2px 2px var(--primary-gold);
  text-align: center;
  font-size: 130%;
  flex-wrap: nowrap;
  box-shadow: 0px 0px 8px var(--tertiary-white);
}

.projectsButton {
  width: fit-content;
  height: 100%;
  padding: 4%;
  color: var(--primary-black);
  font-family: Times New Roman;
  font-size: 80%;
  text-wrap: wrap;
  background-color: var(--primary-gold);
  border-color: var(--tertiary-gold);
  border: none;
  border-radius: 12px;
  box-shadow: 0px 3px 3px var(--tertiary-black);
}

.projectsButton:hover {
  background-color: var(--secondary-gold);
  cursor: pointer;
  box-shadow: 0px 1px 2px var(--secondary-black);
}

.projectsButton:active {
  cursor: progress;
}

/* Skills */
.skillsBox {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  background-color: var(--primary-white);
  border-style: none;
  border-radius: 12px;
  font-family: "Times New Roman";
  font-size: 140%;
  color: var(--tertiary-black);
  text-shadow: 2px 2px var(--primary-gold);
  text-align: center;
  box-shadow: 0px 0px 8px var(--tertiary-white);
}

.iconHolder {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  width: 100%;
  height: fit-content;
  border-style: none;
  border-radius: 12px;
  justify-content: space-evenly;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
}
.icon {
  width: 50px;
  height: 50px;
}
.iconText {
  color: var(--primary-black);
  text-shadow: none;
  font-size: 65%;
  width: 60px;
  height: 18px;
}
/* Contacts */
.bottomBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 5%;
  background-color: var(--secondary-black);
  box-shadow: 0px -4px 4px 6px var(--tertiary-black);
  text-shadow: 2px 2px var(--primary-black);
  font-size: 12pt;
  position: absolute;
  top: 110%;
  left: 0%;
}

/* Project Page */
.projectPageHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  min-height: 50%;
  background-color: var(--tertiary-black);
}

.miniPageHolder {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 96%;
  background-color: var(--secondary-white);
  font-size: 24pt;
  text-shadow: 2px 2px var(--primary-gold);
  padding: 2%;
}

.miniTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  min-height: 100px;
  font-family: Times New Roman;
  font-size: 300%;
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-gold);
  color: var(--primary-gold);
  background-color: var(--quaternary-black);
  text-shadow: 3px 3px var(--primary-black);
  padding-top: 10%;
  padding-bottom: 3%;
}

.miniPageHolder {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  width: 96%;
  background-color: var(--secondary-white);
  font-size: 24pt;
  text-shadow: 2px 2px var(--primary-gold);
  padding: 2%;
}

.scrollButton {
  width: 100%;
  height: 100%;
}

.scrollButton.L {
  left: 10px;
}

.scrollButton.R {
  right: 10px;
}

.project {
  display: flex;
  flex: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-white);
  border-radius: 12px;
  color: var(--primary-black);
  text-align: center;
  padding: 3%;
  box-shadow: 0px 0px 8px var(--tertiary-white);
  width: 80%;
  height: 40%;
  text-shadow: 2px 2px var(--primary-gold);
  font-size: 12pt;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  scroll-snap-align: start;
  transform: scale(0.8);
  transition: transform 0.5s ease;
}

.projectsPage {
  background-color: var(--secondary-white);
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.desc {
  width: 80%;
  height: fit-content;
}

.projectImage {
  height: 180px; /* Set maximum height */
  width: 270px; /* Set maximum width */
  border-width: 4px;
  border-style: inset;
  border-color: var(--primary-gold);
  flex-shrink: 1; /* Allow the image to shrink */
}

.desc {
  margin: 5%;
}

.LinkButton {
  height: 45px;
  width: 225px;
  background-color: var(--primary-gold);
  border-color: var(--tertiary-gold);
  border: none;
  border-radius: 12px;
  box-shadow: 0px 3px 3px var(--tertiary-black);
  font-size: 78%;
}
.LinkButton:hover {
  background-color: var(--secondary-gold);
  cursor: pointer;
  box-shadow: 0px 1px 2px var(--secondary-black);
}

.linkButton:active {
  cursor: progress;
}
