body {
  background-color: lightgray;
}
.LargeNameText {
  display: flex;
  font-family: serif;
  font-size: 55pt;
  text-align: center;
  color: goldenrod;
  background-color: rgb(55, 55, 55);
  text-shadow: 3px 3px black;
  margin-bottom: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  height: 20%;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  white-space: nowrap;
  flex-direction: column;
}
.line1 {
  width: 100%;
  height: 3%;
  border-style: none;
  background-color: goldenrod;
  position: absolute;
  top: 68%;
  left: 0%;
  z-index: 1;
}
.flexBox1 {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: gray;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 7;
  align-items: center;
}

.githubbutton {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  position: relative;
  left: 108%;
}

.githubbutton:hover {
  background-color: lightgreen;
  box-shadow: 0px 0px 4px 4px lightgreen;
  transform: scale(1.1);
}

.gmailbutton {
  width: 70%;
  height: 70%;
  position: relative;
  left: 220%;
}

.gmailbutton:hover {
  background-color: orangered;
  box-shadow: 0px 0px 4px 4px orangered;
  transform: scale(1.1);
}

.linkedinbutton {
  width: 20%;
  height: 20%;
  position: relative;
  left: 65%;
}

.linkedinbutton:hover {
  background-color: cornflowerblue;
  box-shadow: 0px 0px 4px 4px cornflowerblue;
  transform: scale(1.1);
}

.flexBox2 {
  display: flex;
  width: 80%;
  height: 40%;
  position: absolute;
  top: 120%;
  flex-direction: column;
  margin: 10%;
}
.AboutMe {
  text-align: center;
  font-size: 240%;
  text-shadow: 2px 2px goldenrod;
}
.line2 {
  width: 90%;
  height: 2%;
  border-style: none;
  border-radius: 15px;
  background-color: darkred;
}
.AboutDesc {
  font-size: 120%;
}
.flexBox3 {
  display: flex;
  width: 80%;
  height: 180%;
  position: absolute;
  top: 200%;
  flex-direction: column;
  padding: 9.5%;
  justify-content: center space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align-last: center;
  align-content: space-evenly;
  column-gap: 6%;
}
.Projects {
  text-align: center;
  font-size: 240%;
  text-shadow: 2px 2px red;
}
.flexItem1 {
  position: relative;
  top: 2%;
}
.flexItem2 {
  position: relative;
  top: 20%;
}
.MSimage {
  height: 40%;
  width: 30%;
  border-width: 4px;
  border-style: inset;
  border-color: purple;
}
.MSbutton {
  height: 5%;
  width: 20%;
  background-color: white;
  border-style: solid;
}
.MSdesc {
  margin: 5%;
}
.GOHdesc {
  margin: 5%;
}
.GOHimage {
  height: 50%;
  width: 40%;
  border-width: 4px;
  border-style: inset;
}
.MSbutton:hover {
  background-color: lightcoral;
}
.GOHbutton {
  height: 8%;
  width: 30%;
  background-color: white;
  border-style: solid;
}
.GOHbutton:hover {
  background-color: lightcoral;
}
.flexBox4 {
  display: flex;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 420%;
  flex-direction: row;
  margin: 10%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-style: inset;
  border-width: 4px;
  background-color: navy;
  color: white;
}
.Skills {
  text-align: center;
  font-size: 240%;
  text-shadow: 2px 2px cornflowerblue;
  color: black;
  position: absolute;
  top: 430%;
  left: 47%;
}

.Python {
  height: 20%;
  width: 10%;
}
.sql {
  height: 20%;
  width: 10%;
}
.html5 {
  height: 20%;
  width: 10%;
}
.css {
  height: 20%;
  width: 10%;
}
